# .dockerignore (Frontend)

# Ignore massive node_modules (the Docker builder stage will run npm install itself)
node_modules/
npm-debug.log

# Ignore local build outputs
dist/
build/

# Ignore local environment variables
.env
.env.local
.env.development

# Ignore git history
.git/
.gitignore
